#container {
    display:flex;
    justify-content: center;
}

#calculator {
    display:flex;
    flex-direction: column;
    border: 5px solid black;
    height: 750px;
    width: 500px;
    background-color: dimgrey;
}

#top {
    display:flex;
    justify-content: center;
    border-bottom: 3px solid black;
}

#display {
    display:flex;
    border: 3px solid black;
    height: 100px;
    width: 430px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: white;
}

#buttons {
    display: flex;
    margin-top: 30px;
}

.btn {
    border: 3px solid black;
    height: 80px;
    width: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    font-size: 30px;
}


#numbers {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-width: 420px;
    gap: 50px;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rbtn {
    border: 3px solid black;
    height: 65px;
    width: 65px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    font-size: 20px;
}

.equal {
    background-color: lightblue;
}

.rmv {
    background-color: crimson;
}